$yellow: #FCC614;
$blue: #00A6ED;
$red: #EF271B;
$dark-orange: #E84B1B;
$light-orange: #F4891D;

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: center;
    color: darken($blue, 20%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
  background-color: $red;
}