$yellow: #F4DB1A;
$blue: #00A6ED;
$red: #EF271B;
$dark-orange: #E84B1B;
$light-orange: #F4891D;
$grey: #424242;

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

#app {
    font-family: 'Permanent Marker', Helvetica, Arial, sans-serif;
    text-align: center;
    color: $grey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
  background-color: $dark-orange;
}